html, body {
	background-color: #f2f2f2;
}
.btn-fb {
    background-color: #3b5998!important;
    color: #fff!important;
}

.btn-tw {
    background-color: #55acee!important;
    color: #fff!important;
}
.btn-ins {
    background-color: #2e5e86!important;
    color: #fff!important;
}